{% extends 'base.html' %}

{% block content_block %}
    {% if user.is_authenticated %}
        {% if user.is_active %}
            <h5>User is full verify</h5>
            <p>{{ content }}</p>
        {% elif not user.is_active %}
            <h5>User email not verify.</h5>
            <p>{{ message }}</p>
            <a href="{% url 'send_verify_again' %}">Send verify message again</a>
        {% endif %}

    {% else %}
        <p>Only registered users can see content</p>

    {% endif %}
{% endblock %}